<!DOCTYPE html>


<html>

<head>
    <% include inc/head %>
</head>
<body>

	<% include inc/header %>

	<form action="/signup" method="post">
  
    	<input type="password" name="password"  type = "text" required placeholder = "Password">


	<button type="submit">Appuie-moi</button>
	</form>



</body>
</html>